* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.ar {
    padding: 5px;
}
.article_header,
.star_img,
.icon-new_tab {
    line-height: 24px;
}
.header_date {
    height: 24px;
    line-height: 24px;
}
.article_tags,
.article_footer,
.add_content_simulated_button {
    display: none;
}
.article_header_title {
    color: rgb(154, 166, 175);
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}
.article_unreaded .article_header_title {
    color: rgb(44, 62, 80);
}
.article_title {
    text-align: left !important;
}
.article_sub_title {
    margin-top: 15px;
    justify-content: flex-start;
}
.article_title a {
    color: rgb(154, 166, 175);
    font-family: "Microsoft YaHei" !important;
}
.article_sub_title * {
    font-size: 16px;
    line-height: 24px;
}
.article_short_contents,
.article_feed_title {
    color: rgb(182, 191, 198);
    font-size: 16px;
    line-height: 24px;
}
.article_feed_title {
    width: 110px;
    line-height: 24px;
}
.article_content {
    padding-top: 0;
}
.article_content p {
    color: rgb(44, 62, 80);
    font-size: 18px;
}
.tree_node {
    font-size: 14px;
}
.unread_cnt {
    font-size: 14px;
    color: rgb(154, 166, 175) !important;
}
